$brand-font-folder: '/Users/rudferna/Documents/CISCO/projects/macroStore/public/fonts';
$icon-font-path: '/Users/rudferna/Documents/CISCO/projects/macroStore/public/fonts';
$images-path: '/Users/rudferna/Documents/CISCO/projects/macroStore/public/images';

@import '~@momentum-ui/core/scss/momentum-ui';