<header class="md-top-bar md-top-bar--blue" role="navigation">
    <div class="md-top-bar__container">
      <div class="md-top-bar__brand" style="position: absolute;">
        <a class="md-brand" href="/">
          <div style="display: flex; flex-direction: column; justify-content: center;align-items: center;" class="md-brand__logo md-brand__logo--pad">
            <i class="icon icon-cisco-logo"></i>
            <p>Showroom Manager</p>
          </div>
          <!-- <div class="md-brand__title"><%= title %> </i></div> -->
        </a>
      </div>
      <nav class="md-top-bar__nav ">
        <div class="md-list md-list--horizontal" role="list">
            <a class="md-list-item <%= path === '/' ? 'active' : '' %>" role="listItem" href="/">Main</a>
            <a class="md-list-item <%= path === '/advanced' ? 'active' : '' %>" role="listItem" href="/advanced">Advanced</a>
            <a class="md-list-item <%= path === '/expert' ? 'active' : '' %>" role="listItem" href="/expert">Expert</a>
        </div>
      </nav>
    </div>
</header>